.authForm {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #239999;
    align-self: center;
    width: 75%;
    padding: 10px;
}

.formTitle {
    align-self: center;
}

.redirect {
    align-self: center;
    padding: 15px;
}

.return {
    align-self: center;
    padding: 10px;
    background-color: #239999;
    color: white;
    margin: 15px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
