.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.navlinks__auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.navlinks__button {
    background-color: #239999;
    color: white;
    padding: 10px 10px;
    margin: 0px 5px 0px 5px;
    max-height: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navlinks__auth img{
    width: 80%;
    max-width: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
}